<%- include('../layouts/header') %>
    <%- include('../layouts/main')%>

        <!-- contah pemangilan pada ejs -->
        <% const nama='ini adalah halaman contact' %>
            <h1>
                <%= nama %>
            </h1>
            <img src="../img/photo.png" alt="">
            <%- include('../layouts/footer') %>