<%- include('../layouts/header') %>
    <%- include('../layouts/main') %>

        <h2>ini adalah halaman index</h2>
        <h3>
            <%= waktu %>
        </h3>
        <%- include('../layouts/footer') %>